/*Body*/
.Section2 {
    height: auto;
    max-height: 55rem;
    background-color: #1f1e1d;
}


.Section2TitleTxt {}


/*Content Block*/
.Section2ContentBlock {
    display: flex;
}
/*Img*/
.Section2ImgContainer {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    width: 50%;
}
.Section2Img {
    width: 500px;
    object-fit: cover;
    height: 500px;
    overflow: hidden;
}
/*Txt*/
.Section2TxtContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
    padding-top: 10rem;
}
.Section2TxtTitle {
    margin: 0px;
    font-size: 2rem;
}
.Section2TxtParagrapht {
    margin: 0px;
    font-size: 1.3rem;
}