/*==================================================
SECTION 2
About Section Layout
==================================================*/


/*--------------------------------------------------
SECTION CONTAINER
Contenedor principal de la sección
--------------------------------------------------*/
.Section2 {
    height: auto;
    max-height: 55rem;
    background-color: var(--background-color-secundary);
}

.Section2TitleTxt {
    color: var(--color-tertiary);
}


/*==================================================
CONTENT
Contenido principal
==================================================*/


/*--------------------------------------------------
CONTENT BLOCK
Bloque que contiene imagen y texto
--------------------------------------------------*/
.Section2ContentBlock {
    display: flex;
}


/*--------------------------------------------------
IMAGE
Imagen de la sección
--------------------------------------------------*/
.Section2ImgContainer {
    display: flex;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    justify-content: center;
    width: 50%;
}

.Section2Img {
    width: 500px;
    object-fit: cover;
    height: 500px;
    overflow: hidden;
}


/*--------------------------------------------------
TEXT CONTENT
Contenido textual
--------------------------------------------------*/
.Section2TxtContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
    padding-top: 5%;
}

.Section2TxtTitle {
    margin: 0px;
    font-size: 2rem;
    color: var(--color-accent-primary);
}

.Section2TxtParagrapht {
    margin: 0px;
    font-size: 1rem;
    color: var(--color-primary);
}