/*Body*/
.Section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #2c2b29;
}

/*Content block*/
.Section3Contentblock {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    gap: 2rem;
}
/*Logos*/
.Section3LogoContainer {
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 9rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #1f1e1d;
    box-sizing: border-box;
}
.Section3LogoContainer-Content {
    width: 100%;
    height: 100%;
    gap: 10px;
}
.Section3LogoImgContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 77.5%;
    overflow: hidden;
}
.Section3LogoImg {
    object-fit: cover;
    margin: 0px;
    overflow: hidden;
}
.Section3LogoTitleContainer {
    width: 100%;
    height: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Section3LogoTitle {
    height: 100%;
    margin: 5% 0px 0px 0px;
}