/*==================================================
SECTION 3
Skills Section Layout
==================================================*/


/*--------------------------------------------------
SECTION CONTAINER
Contenedor principal
--------------------------------------------------*/
.Section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--background-color-primary);
}


/*==================================================
CONTENT
Bloque de logos de habilidades
==================================================*/


/*--------------------------------------------------
CONTENT BLOCK
Contenedor de los logos
--------------------------------------------------*/
.Section3Contentblock {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    gap: 2rem;
}


/*--------------------------------------------------
LOGO CARD
Tarjeta de cada tecnología
--------------------------------------------------*/
.Section3LogoContainer {
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 9rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--background-color-secundary);
    box-sizing: border-box;
}

.Section3LogoContainer-Content {
    width: 100%;
    height: 100%;
    gap: 10px;
}


/*--------------------------------------------------
LOGO IMAGE
Imagen del logo
--------------------------------------------------*/
.Section3LogoImgContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 77.5%;
    overflow: hidden;
}

.Section3LogoImg {
    object-fit: cover;
    margin: 0px;
    overflow: hidden;
}


/*--------------------------------------------------
LOGO TITLE
Nombre de la tecnología
--------------------------------------------------*/
.Section3LogoTitleContainer {
    width: 100%;
    height: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section3LogoTitle {
    height: 100%;
    margin: 5% 0px 0px 0px;
    color: var(--color-primary);
}