/*Body of the Section*/
.Section1 {
    display: flex;
    padding: 1rem 0rem 5rem 0rem;
    height: 90vh;
    max-height: 50rem;
    background-color: rgb(47, 47, 47);
}


/*Contacts logos block*/
.Section1Contactblock {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 5%;
}
.Section1ImgContactContainer {
    display: flex;
    flex-direction: column;
    margin-right: 1.3rem;
    gap: 1rem;
    padding: auto;
}
.Section1ImgContacts {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    overflow: hidden;
}
/*Logo's img*/


/*Txt content block */
.Section1Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    width: 45%;
}
/*Titles*/
.Section1TitlesContainer {
    display: flex;
    flex-direction: column;
}
.Section1Title1 {
    margin: 0px;
    font-size: 2rem;
}
.Section1Title2{
    margin: 0px;
    font-size: 3rem;
}


/*Paragrapht & bottons container*/
.Section1ContentContainer {
    display: flex;
    flex-direction: column;
}
/*Paragrapht*/
.Section1ParagraphtContainer{
    display: flex;
    flex-wrap: wrap;
}
.Section1Paragrapht{

}
/*Bottons*/
.Section1BottonsContainer {
    gap: 2rem;
    display: flex;
}
.Bottons{
    font-size: 1.6rem;
    letter-spacing: .1rem;
}
.Sections1BottonsTxt{
    font-size: 1.5rem;
}


/*Img*/
.Section1ImgContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -3rem;
    height: 100%;
    width: 55%;
}
.Section1Img {
    width: 500px;
    height: 600px;
    overflow: hidden;
}