.SectionContainer{
    width: calc(100% + 200px);
    height: calc(100%+ 100px);
    display: flex;
    flex-direction: Row;
}

.LeftSideSection{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 65%;
}

.Section1Title{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Section1Content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Paragrapht1Container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Paragraph1{
    font-size: 1.5rem;
    color: #000;
}

.ContactContainer{

}

.ContactContainer h1{

}

.CardContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.Section1TitleText{
    font-size: 2.5rem;
    color: #000;
}

.RightSideSection{
    width: 30%;
    margin: 0;
}

.RightSideSection img{
    width: 100%;
    height: auto;

}