.Footer {
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0rem 2rem 0rem 2rem;
    background-color: var(--background-color-secundary);
}
.FooterContatsContainer {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1rem;
    height: 50%;
    width: 100%;
}
.FooterContatsImg {
    height: 1.8rem;
    width: 1.8rem;
}
.FooterContatsImg:hover {
    transform: scale(1.1);
}
.FooterTxtContianer {
    gap: 5px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.FooterTxt {
    margin: 0;
    justify-content: center;
}
.FooterName {
    color: var(--color-accent-primary);
}