.NavBodyContainer {
  width: 100%;
  position: fixed;
  background: rgba(41, 41, 41, 0);
  backdrop-filter: blur(15px);
  height: auto;
}

.NavBody {
  display: flex;
  flex-direction: row;
  max-width: 1920px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.LinksContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.RightSide {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Links {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
.ImgsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;

}

.ImgContainer {
  padding: 5px;
  display: flex;
  height: 2rem;
  width: 2rem;
}

.Img {
  overflow: hidden;
  object-fit: fill;
  border-radius: 50px;
}

.LeftImgContainer {
  padding: 5px;
  padding-left: 1.5rem;
  display: flex;
  height: 45px;
  width: 45px;
}