.AppBody{
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  width: 100vw;
}

/* Contenedores */
.TitleContainer{
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
}
.TitleContainer2{
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: start;
  padding-right: 70px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0px;
}
.SmallSectionContainer{
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
/*Card-Containers*/
.CardConteiner1 {
  display: flex;
  gap: 3.5rem;
  justify-content: center;
  flex-direction: row;
}
.CardConteiner2{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-direction: row;
}
/* Titles */
.Titulo1{
  color: bisque;
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
  max-width: 1200px;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0 auto;
}
.Titulo2{
  color: bisque;
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
  max-width: 1200px;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: -4rem;
  margin: 0 auto;
}
.Title-MediumSection{
  padding-left: 16rem;
}

/* Secciones */
.Section1 {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SmallSection{
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 25, 105);
}

.MediumSection{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Secciones de la pagina */
.OurServiceSection {
  background-color: rgb(74, 68, 130); 
  padding-bottom: 6rem
}   
.TestimonialSection {
  background-color: rgb(175, 116, 181);
}   
.TechnologiesSection {
  background-color: rgba(108, 74, 171, 0.694); 
}   
.AdditiveManufacturing{
  background-color: rgb(175, 116, 181);
}
.Catalog{
  background-color: rgba(108, 74, 171, 0.694); 
}