/*==================================================
SECTION 4
Education / Experience Layout
==================================================*/


/*--------------------------------------------------
SECTION CONTAINER
Contenedor principal
--------------------------------------------------*/
.Section4 {
    background-color: var(--background-color-secundary);
    width: 100%;
    height: 70vh;
    max-height: 70%;
    justify-content: center;
}

.Section4Title {}


/*==================================================
CONTENT
Bloque de contenido
==================================================*/


/*--------------------------------------------------
CONTENT BLOCK
Contenedor de tarjetas
--------------------------------------------------*/
.Section4ContentBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}


/*--------------------------------------------------
CARD
Tarjeta de experiencia
--------------------------------------------------*/
.Section4ImgContainer {
    display: flex;
    background-color: var(--background-color-primary);
    border-radius: 40px;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 22rem;
    padding: 2rem;
    overflow: hidden;
    box-sizing: border-box;
}

.Section4Img {
    object-fit: cover;
    overflow: hidden;
}


/*--------------------------------------------------
TEXT CONTENT
Contenido textual
--------------------------------------------------*/
.Section4TxtContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section4TxtTitle {
    margin: 0px;
    font-size: 1.5rem;
    color: var(--color-primary);
}

.Section4TxtDate {
    margin: 0px;
    font-size: 1rem;
    color: var(--color-primary);
}